<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Replace the following values appropriately-->
    <add key="TargetSite" value="#"/>
    <add key="TargetTheatre" value="kukatpally"/>
    <add key="EmailtoSend" value="example@eg.com"/>
    <add key="SendGridKey" value="#"/>
    <add key="FromEmailID" value="noreply@eg.org"/>
    <add key="FromEmailDisplayName" value="noreply"/>
    <add key="Subject" value="Tickets up for your fav movie"/>
    <add key="Content" value="Grab them before they are out"/>
  </appSettings>
</configuration>