<!--Home page with header and footer partial and data binding using handle bar-->

<!DOCTYPE html>
<html>
{{> head}}
<body>
    <h1>{{pageTitle}}</h1>
    <p>{{Capitalize name}}</p>

    {{> footer}}
</body>
</html>